<footer itemscope itemtype="http://schema.org/WPFooter" class="footer">
  <div class="sign-up-footer">
    <div class="container">
      <a href="#" class="sign-up button button-primary">
        <%= __('index.hero.primary') %>
      </a>
      <p class="lead">Gleich heute kostenlos registrieren und Risiko reduzieren.</p>
    </div>
  </div>
  <nav class="container">
    <ul>
      <li><a href="/">Enginsight</a></li>
      <li>
        <a href="<%- config.root %>about/">
          <%- __('navigation.about') %>
        </a>
      </li>
      <li>
        <a href="<%- config.root %>contact/">
          <%- __('navigation.contact') %>
        </a>
      </li>
      <li>
        <a href="//docs.enginsight.com">
          <%- __('documentation') %>
        </a>
      </li>
      <li><a href="//blog.enginsight.com">Blog</a></li>
      <li><a href="/">Impressum</a></li>
      <li>
        <a href="<%- config.root %>login/">
          <%- __('navigation.login') %>
        </a>
      </li>
    </ul>
  </nav>
</footer>
