<footer itemscope itemtype="http://schema.org/WPFooter" class="footer">
  <nav class="container">
    <ul>
      <li><a href="/">Enginsight</a></li>
      <li><a href="#" class="sign-up">Registrierung</a></li>
      <li><a href="/">Impressum</a></li>
      <li><a href="<%- config.root %>terms/"><%- __('navigation.terms') %></a></li>
      <li>
        <a href="<%- config.root %>contact/">
          <%- __('navigation.contact') %>
        </a>
      </li>
      <li>
        <a href="https://app.enginsight.com">
          <%- __('navigation.login') %>
        </a>
      </li>
    </ul>
  </nav>
</footer>
