<footer itemscope itemtype="http://schema.org/WPFooter" class="footer">
  <nav class="container">
    <ul>
      <li><a href="/">Enginsight</a></li>
      <li><a href="#" class="sign-up">Registrierung</a>
    </li>
      <li>
        <a href="<%- config.root %>about/">
          <%- __('navigation.about') %>
        </a>
      </li>
      <li>
        <a href="<%- config.root %>contact/">
          <%- __('navigation.contact') %>
        </a>
      </li>
      <li>
        <a href="//docs.enginsight.com">
          <%- __('documentation') %>
        </a>
      </li>
      <li><a href="//blog.enginsight.com">Blog</a></li>
      <li><a href="/">Impressum</a></li>
      <li>
        <a href="<%- config.root %>login/">
          <%- __('navigation.login') %>
        </a>
      </li>
    </ul>
  </nav>
</footer>
