<!DOCTYPE html>
<html lang="<%- __('language') %>">
  <head>
    <% /* Meta */ %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="<%- __('index.hero.slogan') %>.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%- partial('_partial/fonts') %>
    <%- partial('_partial/favicon') %>

    <link rel="stylesheet" href="https://assets.enginsight.com/css/style.css">
    <!--<link rel="stylesheet" href="/de/css/style.css">-->

    <% String.prototype.capitalizeFirstLetter = function() {  %>
    <%   return this.charAt(0).toUpperCase() + this.slice(1); %>
    <% } %>

    <title><%- page.title !== 'index' ? config.title + ' ' + page.title.capitalizeFirstLetter() : config.title %> – <%- config.subtitle %></title>

    <% /* Sprach- oder Regions-URLs */ %>
    <link rel="alternate" href="https://enginsight.com/en/<%- page.title !== 'index' ? page.title + '/': '' %>" hreflang="x-default" />
    <link rel="alternate" href="https://enginsight.com/de/<%- page.title !== 'index' ? page.title + '/': '' %>" hreflang="de" />
    <link rel="alternate" href="https://enginsight.com/en/<%- page.title !== 'index' ? page.title + '/': '' %>" hreflang="en" />

    <% /* Canonical Link */ %>
    <link rel="canonical" href="https://enginsight.com<%- config.root %><%- page.title !== 'index' ? page.title + '/': '' %>">

    <% /* Preloads */ %>
    <link rel="preconnect" href="https://app.enginsight.com">
  </head>
