<header itemscope itemtype="http://schema.org/WPHeader" class="header">
  <div class="container">
    <h1 class="logo">
      <a href="<%- config.root %>">
        <svg viewBox="1 -3 14 14" height="20" width="20" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.5 8L8.8 5.4 6.6 8.5 5.5 1.6 2.38 8H0V10h3.6L4.5 8.2l0.9 5.4L9 8.5l1.6 1.5H14V8H11.5z"/>
        </svg>
        <span itemprop="name"><%= config.title %></span>
      </a>
    </h1>
    <nav itemscope itemtype="http://schema.org/SiteNavigationElement" class="nav-items">
      <ul class="items">
        <li class="item">
          <a itemprop="url" href="<%- config.root %>contact/">
            <span itemprop="name"><%- __('navigation.contact') %></span>
          </a>
        </li>
        <li class="item">
          <a itemprop="url" href="//blog.enginsight.com">
            <span itemprop="name">Blog</span>
          </a>
        </li>
        <li class="item">
          <a itemprop="url" href="<%- config.root %>login/">
            <span itemprop="name"><%- __('navigation.login') %></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
