<% if(page.title === 'app') { %>
  <%- partial('_partial/head-app') %>
  <body>
    <%- body %>
  </body>
  </html>

<% } else if(page.title === '404') { %>

  <%- partial('_partial/head-empty') %>
  <body><%- body %></body>
  </html>

<% } else { %>
  <% if(!page.head) { %>
  <%- partial('_partial/head') %>
  <body itemscope itemtype="http://schema.org/WebPage" class="<%- page.title %>-page">
  <%- partial('_partial/header') %>
  <main itemscope itemprop="mainContentOfPage"><%- body %></main>
  <%- partial('_partial/footer') %>

  <% } else { %>
  <%- partial('_partial/' + page.head) %>
  <body><%- body %>

  <% } %>

  <%- partial('_partial/sign-up') %>
  <script type="text/javascript" src="https://assets.enginsight.com/js/navigation.js"></script>
  <script type="text/javascript" src="https://assets.enginsight.com/js/sign-up.js"></script>
  <script type="text/javascript" src="https://assets.enginsight.com/js/ga.js" async></script>
  </body>
  </html>
<% } %>
